.quiz__question__image {
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 0.5rem;
}

.quiz__title {
    font-size: 1.5rem;
    padding: 0.5rem;
}

.quiz__question__button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    margin-top: 1.5rem;
}

.quiz__question__button>button {
    display: inline-block;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    background-color: #ff5b5b;
    border: 3px solid #ff5b5b;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 1rem;
    font-size: 1rem;
}

.quiz__question__button>button:nth-child(1) {
    background-color: black;
    border: 3px solid black;
}

.quiz__submit__button {
    display: inline-block;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    background-color: #ff5b5b;
    border: 3px solid #ff5b5b;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 1rem;
    font-size: 1rem;
}